header .edit-mode-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	gap: 10px;
	height: 60px;
	background-color: black;
	color: white;
	align-items: center;
	justify-content: center;
}

header .edit-mode-header span {
	font-size: 16px;
}

header.edit-mode-header-visible {
	padding-top: 48px;
}

#introduction {
	display: flex;
	align-items: center;
	margin-left: 95px;
	margin-right: 95px;
	margin-top: 90px;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	width: 100%;
}

#introduction article {
	flex: 1;
	margin-left: 72px;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 95px;
	margin-right: 95px;
	margin-bottom: 20px;
	padding-top: 60px;
}

#portfolio .actions {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin-bottom: 50px;
}

#portfolio .edit-works {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: black;
	text-decoration: none;
}

/* Begin filters */

.filters {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-bottom: 10px;
	list-style-type: none;
}

.filters a {
	display: inline-block;
	border-radius: 60px;
	padding: 10px 22px 10px 22px;
	text-decoration: none;
	border: 1px solid #1d6154;
	font-size: 16px;
	font-weight: 700;
}

.filters a.active {
	color: white;
	background-color: #1d6154;
}

.filters a.inactive {
	color: #1d6154;
}

/* End filters */

.gallery {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 18px;
	grid-row-gap: 18px;
	margin-top: 40px;
}

.gallery.loading-projects,
.gallery.no-project {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.gallery img {
	width: 302px;
	height: 407px;
	object-fit: cover;
}

.gallery figcaption {
	font-size: 13px;
	color: #3d3d3d;
	padding-top: 8px;
}

#contact {
	width: 35%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact h2,
#contact p {
	text-align: center;
}
